*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.header{
  padding:30px 20px;
  display:flex;
  background-color:#ff00ff;
  justify-content:flex-end;
}

.header>div{
  background-color: #fbb3ff;
  flex-basis:140px;
  height:70px;
  margin:0 10px;
}

.header>:first-child{
 margin-right: auto;
}

.main{
  display:flex;
  justify-content:center;
}

.sidebar{
  height:50vh;
  width:300px;
  background-color:#7fffd4;
}

.content{
  background-color:#00b522;
  max-width:700px;
  height:50vh;
  flex-grow:1;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}